# Configuration file

##########################################################################################################
# gems light levels
#--------------------------------------------------------------------------------------------------------#
# Light level must be specified in a range 1 - 15
##########################################################################################################

"gems light levels" {
    I:Chipped=11
    I:Exquisite=15
    I:Flawed=12
    I:Flawless=14
    I:Normal=13
}


##########################################################################################################
# lanterns light levels
#--------------------------------------------------------------------------------------------------------#
# Light level must be specified in a range 1 - 15
##########################################################################################################

"lanterns light levels" {
    I:BismuthBronze=10
    I:BlackBronze=10
    I:Brass=10
    I:Bronze=10
    I:Copper=9
    I:Gold=10
    I:Lead=9
    I:Platinum=11
    I:RoseGold=10
    I:Silver=10
    I:SterlingSilver=10
    I:WroughtIron=11
}


modules {
    B:GemsEnabled=false
}


