# Configuration file

general {
    # Item IDs that shine light while held. Armor Items also work when worn. [ONLY ON OTHERS] Syntax: ItemID[-MetaValue]:LightValue, seperated by commas
    S:LightItems=torch,glowstone=11,glowstone_dust=8,lit_pumpkin,lava_bucket,redstone_torch=9,redstone,terrafirmacraft:item.Ore-26=7,terrafirmacraft:Torch=10,DecorationsTFC:Lantern.Gold,DecorationsTFC:Lantern.Platinum=14,terrafirmacraft:OilLamp-*=12,Railcraft:armor.goggles,Steamcraft:rebreather=11,ImmersiveEngineering:drill,ImmersiveEngineering:chemthrower,ImmersiveEngineering:railgun=12,ImmersiveEngineering:metalDecoration-2=14,easycoloredlights:easycoloredlightsCLStone=-1

    # Update Interval time for all other player entities in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


