# Configuration file

bismuthinite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        igneous extrusive
        sedimentary
     >
    I:oreMeta=7
    S:oreName=terrafirmacraft:Ore1
    I:rarity=200
    S:size=small
    S:type=veins
}


"bismuthinite surface" {
    I:"Horizontal Density"=40
    I:"Maximum Height"=240
    I:"Minimum Height"=128
    I:"Vertical Density"=40
    S:baseRocks <
        igneous extrusive
        sedimentary
     >
    I:oreMeta=7
    S:oreName=terrafirmacraft:Ore1
    I:rarity=65
    S:size=small
    S:type=veins
}


"bituminous coal" {
    I:"Horizontal Density"=80
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=90
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=14
    S:oreName=terrafirmacraft:Ore1
    I:rarity=250
    S:size=large
    S:type=default
}


borax {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        rock salt
     >
    I:oreMeta=0
    S:oreName=terrafirmacraft:Ore3
    I:rarity=120
    S:size=large
    S:type=veins
}


cassiterite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        igneous intrusive
     >
    I:oreMeta=5
    S:oreName=terrafirmacraft:Ore1
    I:rarity=100
    S:size=small
    S:type=veins
}


"cassiterite surface" {
    I:"Horizontal Density"=40
    I:"Maximum Height"=240
    I:"Minimum Height"=128
    I:"Vertical Density"=40
    S:baseRocks <
        granite
     >
    I:oreMeta=5
    S:oreName=terrafirmacraft:Ore1
    I:rarity=35
    S:size=small
    S:type=veins
}


cinnabar {
    I:"Horizontal Density"=80
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=30
    S:baseRocks <
        igneous extrusive
        shale
        quartzite
     >
    I:oreMeta=11
    S:oreName=terrafirmacraft:Ore2
    I:rarity=250
    S:size=small
    S:type=veins
}


cryolite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        granite
     >
    I:oreMeta=12
    S:oreName=terrafirmacraft:Ore2
    I:rarity=200
    S:size=medium
    S:type=veins
}


galena {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        igneous extrusive
        metamorphic
        granite
        limestone
     >
    I:oreMeta=6
    S:oreName=terrafirmacraft:Ore1
    I:rarity=200
    S:size=medium
    S:type=veins
}


garnierite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        gabbro
     >
    I:oreMeta=8
    S:oreName=terrafirmacraft:Ore1
    I:rarity=150
    S:size=small
    S:type=veins
}


graphite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        marble
        gneiss
        quartzite
        schist
     >
    I:oreMeta=4
    S:oreName=terrafirmacraft:Ore2
    I:rarity=200
    S:size=medium
    S:type=veins
}


gypsum {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=1
    S:oreName=terrafirmacraft:Ore2
    I:rarity=120
    S:size=large
    S:type=veins
}


hematite {
    I:"Horizontal Density"=90
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        igneous extrusive
     >
    I:oreMeta=3
    S:oreName=terrafirmacraft:Ore1
    I:rarity=425
    S:size=large
    S:type=veins
}


jet {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=8
    S:oreName=terrafirmacraft:Ore2
    I:rarity=110
    S:size=large
    S:type=veins
}


kaolinite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=0
    S:oreName=terrafirmacraft:Ore2
    I:rarity=290
    S:size=large
    S:type=default
}


kimberlite {
    I:"Horizontal Density"=80
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=30
    S:baseRocks <
        gabbro
     >
    I:oreMeta=5
    S:oreName=terrafirmacraft:Ore2
    I:rarity=200
    S:size=medium
    S:type=veins
}


"lapis lazuli" {
    I:"Horizontal Density"=70
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=90
    S:baseRocks <
        marble
     >
    I:oreMeta=2
    S:oreName=terrafirmacraft:Ore3
    I:rarity=120
    S:size=medium
    S:type=veins
}


lignite {
    I:"Horizontal Density"=40
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=90
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=15
    S:oreName=terrafirmacraft:Ore1
    I:rarity=250
    S:size=large
    S:type=default
}


limonite {
    I:"Horizontal Density"=80
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=90
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=11
    S:oreName=terrafirmacraft:Ore1
    I:rarity=450
    S:size=large
    S:type=veins
}


magnetite {
    I:"Horizontal Density"=40
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=60
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=10
    S:oreName=terrafirmacraft:Ore1
    I:rarity=100
    S:size=small
    S:type=veins
}


malachite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        limestone
        marble
     >
    I:oreMeta=9
    S:oreName=terrafirmacraft:Ore1
    I:rarity=150
    S:size=large
    S:type=veins
}


"native copper" {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        igneous extrusive
     >
    I:oreMeta=0
    S:oreName=terrafirmacraft:Ore1
    I:rarity=120
    S:size=small
    S:type=veins
}


"native copper surface" {
    I:"Horizontal Density"=40
    I:"Maximum Height"=240
    I:"Minimum Height"=128
    I:"Vertical Density"=40
    S:baseRocks <
        igneous extrusive
     >
    I:oreMeta=0
    S:oreName=terrafirmacraft:Ore1
    I:rarity=35
    S:size=small
    S:type=veins
}


"native gold" {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        igneous extrusive
        igneous intrusive
     >
    I:oreMeta=1
    S:oreName=terrafirmacraft:Ore1
    I:rarity=200
    S:size=small
    S:type=veins
}


pitchblende {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        granite
     >
    I:oreMeta=10
    S:oreName=terrafirmacraft:Ore2
    I:rarity=180
    S:size=medium
    S:type=veins
}


platinum {
    I:"Horizontal Density"=80
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=40
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=2
    S:oreName=terrafirmacraft:Ore1
    I:rarity=150
    S:size=small
    S:type=veins
}


saltpeter {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        sedimentary
     >
    I:oreMeta=13
    S:oreName=terrafirmacraft:Ore2
    I:rarity=120
    S:size=medium
    S:type=veins
}


silver {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        granite
        gneiss
     >
    I:oreMeta=4
    S:oreName=terrafirmacraft:Ore1
    I:rarity=100
    S:size=medium
    S:type=veins
}


sphalerite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        metamorphic
     >
    I:oreMeta=12
    S:oreName=terrafirmacraft:Ore1
    I:rarity=120
    S:size=small
    S:type=veins
}


"sphalerite surface" {
    I:"Horizontal Density"=40
    I:"Maximum Height"=240
    I:"Minimum Height"=128
    I:"Vertical Density"=40
    S:baseRocks <
        metamorphic
     >
    I:oreMeta=12
    S:oreName=terrafirmacraft:Ore1
    I:rarity=45
    S:size=small
    S:type=veins
}


sylvite {
    I:"Horizontal Density"=40
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=90
    S:baseRocks <
        rock salt
     >
    I:oreMeta=15
    S:oreName=terrafirmacraft:Ore2
    I:rarity=160
    S:size=medium
    S:type=veins
}


tetrahedrite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        metamorphic
     >
    I:oreMeta=13
    S:oreName=terrafirmacraft:Ore1
    I:rarity=120
    S:size=medium
    S:type=veins
}


"tetrahedrite surface" {
    I:"Horizontal Density"=40
    I:"Maximum Height"=240
    I:"Minimum Height"=128
    I:"Vertical Density"=40
    S:baseRocks <
        metamorphic
     >
    I:oreMeta=13
    S:oreName=terrafirmacraft:Ore1
    I:rarity=35
    S:size=small
    S:type=veins
}


bischofite {
    I:"Horizontal Density"=50
    I:"Maximum Height"=138
    I:"Minimum Height"=50
    I:"Vertical Density"=60
    S:baseRocks <
        rock salt
     >
    I:oreMeta=0
    S:oreName=ihl:oreBischofite
    I:rarity=220
    S:size=small
    S:type=default
}

datolite {
    I:"Horizontal Density"=40
    I:"Maximum Height"=138
    I:"Minimum Height"=5
    I:"Vertical Density"=60
    S:baseRocks <
        gabbro
     >
    I:oreMeta=0
    S:oreName=ihl:oreDatolite
    I:rarity=250
    S:size=small
    S:type=default
}

bauxite {
    I:"Horizontal Density"=80
    I:"Maximum Height"=138
    I:"Minimum Height"=50
    I:"Vertical Density"=90
    S:baseRocks <
        claystone
        chert
     >
    I:oreMeta=0
    S:oreName=ihl:oreBauxite
    I:rarity=110
    S:size=medium
    S:type=vein
}

sylvinite {
    I:"Horizontal Density"=60
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=80
    S:baseRocks <
        rock salt
     >
    I:oreMeta=0
    S:oreName=ihl:oreRockSalt
    I:rarity=180
    S:size=medium
    S:type=vein
}

wolframite {
    I:"Horizontal Density"=90
    I:"Maximum Height"=138
    I:"Minimum Height"=5
    I:"Vertical Density"=95
    S:baseRocks <
        granite
     >
    I:oreMeta=0
    S:oreName=ihl:oreGyubnera
    I:rarity=350
    S:size=small
    S:type=vein
}

feldspar {
    I:"Horizontal Density"=70
    I:"Maximum Height"=128
    I:"Minimum Height"=5
    I:"Vertical Density"=85
    S:baseRocks <
        igneous intrusive
     >
    I:oreMeta=0
    S:oreName=ihl:orePotassiumFeldspar
    I:rarity=250
    S:size=medium
    S:type=vein
}

apatite {
    I:"Horizontal Density"=40
    I:"Maximum Height"=138
    I:"Minimum Height"=5
    I:"Vertical Density"=55
    S:baseRocks <
        andesite
     >
    I:oreMeta=0
    S:oreName=ihl:oreApatite
    I:rarity=160
    S:size=small
    S:type=default
}

"crude oil" {
    I:"Horizontal Density"=90
    I:"Maximum Height"=135
    I:"Minimum Height"=35
    I:"Vertical Density"=95
    S:baseRocks <
        shale
     >
    I:oreMeta=0
    S:oreName=ihl:fluidOil
    I:rarity=220
    S:size=large
    S:type=default
}

"limestone dust" {
    I:"Horizontal Density"=90
    I:"Maximum Height"=138
    I:"Minimum Height"=95
    I:"Vertical Density"=95
    S:baseRocks <
        conglomerate
        rock salt
     >
    I:oreMeta=0
    S:oreName=ihl:oreLimestone
    I:rarity=350
    S:size=medium
    S:type=vein
}

trona {
    I:"Horizontal Density"=20
    I:"Maximum Height"=138
    I:"Minimum Height"=95
    I:"Vertical Density"=25
    S:baseRocks <
        rock salt
     >
    I:oreMeta=0
    S:oreName=ihl:oreTrona
    I:rarity=350
    S:size=small
    S:type=default
}

stibnite {
    I:"Horizontal Density"=20
    I:"Maximum Height"=138
    I:"Minimum Height"=95
    I:"Vertical Density"=75
    S:baseRocks <
        basalt
     >
    I:oreMeta=0
    S:oreName=ihl:oreStibnite
    I:rarity=350
    S:size=small
    S:type=vein
}

mica {
    I:"Horizontal Density"=90
    I:"Maximum Height"=118
    I:"Minimum Height"=10
    I:"Vertical Density"=95
    S:baseRocks <
        rhyolite
     >
    I:oreMeta=0
    S:oreName=ihl:oreMica
    I:rarity=250
    S:size=small
    S:type=vein
}

chromite {
    I:"Horizontal Density"=40
    I:"Maximum Height"=118
    I:"Minimum Height"=10
    I:"Vertical Density"=55
    S:baseRocks <
        gabbro
     >
    I:oreMeta=0
    S:oreName=ihl:oreChromite
    I:rarity=250
    S:size=small
    S:type=vein
}

peridotite {
    I:"Horizontal Density"=90
    I:"Maximum Height"=118
    I:"Minimum Height"=10
    I:"Vertical Density"=95
    S:baseRocks <
        basalt
     >
    I:oreMeta=0
    S:oreName=customitems:peridotite
    I:rarity=130
    S:size=large
    S:type=vein
}

pegmatite {
    I:"Horizontal Density"=90
    I:"Maximum Height"=128
    I:"Minimum Height"=50
    I:"Vertical Density"=95
    S:baseRocks <
        granite
     >
    I:oreMeta=0
    S:oreName=customitems:pegmatite
    I:rarity=160
    S:size=large
    S:type=default
}

fluorite {
    I:"Horizontal Density"=90
    I:"Maximum Height"=118
    I:"Minimum Height"=10
    I:"Vertical Density"=95
    S:baseRocks <
        granite
        limestone
     >
    I:oreMeta=0
    S:oreName=customitems:fluorite
    I:rarity=190
    S:size=small
    S:type=vein
}

xenotime {
    I:"Horizontal Density"=90
    I:"Maximum Height"=118
    I:"Minimum Height"=10
    I:"Vertical Density"=95
    S:baseRocks <
        gneiss
     >
    I:oreMeta=0
    S:oreName=customitems:xenotime
    I:rarity=290
    S:size=small
    S:type=vein
}

pyrolusite {
    I:"Horizontal Density"=80
    I:"Maximum Height"=128
    I:"Minimum Height"=10
    I:"Vertical Density"=85
    S:baseRocks <
        limestone
     >
    I:oreMeta=0
    S:oreName=customitems:pyrolusite_dendrites
    I:rarity=200
    S:size=small
    S:type=vein
}

salmiac {
    I:"Horizontal Density"=50
    I:"Maximum Height"=118
    I:"Minimum Height"=10
    I:"Vertical Density"=55
    S:baseRocks <
        conglomerate
     >
    I:oreMeta=0
    S:oreName=customitems:salmiac_crystals
    I:rarity=220
    S:size=small
    S:type=vein
}

spodumene {
    I:"Horizontal Density"=50
    I:"Maximum Height"=128
    I:"Minimum Height"=10
    I:"Vertical Density"=55
    S:baseRocks <
        quartzite
     >
    I:oreMeta=0
    S:oreName=customitems:spodumene
    I:rarity=200
    S:size=small
    S:type=vein
}

