# Configuration file

general {
    B:DISABLE_FLICKERING=true

    # disables our system of registering recipes with NEI, enable this if you have your own crafting system
    B:DISABLE_NEI_RECIPES=false

    # disables the train workbench, for those of you who want to use a custom part builder
    B:DISABLE_TRAIN_WORKBENCH=false
    B:ENABLE_CHUNK_LOADING=true
    B:ENABLE_COPPER_SPAWN=true
    B:ENABLE_DIESEL_TRAINS=true
    B:ENABLE_ELECTRIC_TRAINS=true
    B:ENABLE_FUEL_ORES_SPAWN=true

    # This will generate ores in existing chunks prior to installing Traincraft 5. Do note that if this is off chunks that are loaded will not retrogen later, no matter what. [default: false]
    B:ENABLE_RETROGEN=false
    B:ENABLE_SOUNDS=true
    B:ENABLE_STEAM_TRAINS=true
    B:ENABLE_TENDERS=true
    B:ENABLE_TRACKS_BUILDER=true
    B:ENABLE_ZEPPELIN=true

    # Here you can define, if electric tracks should be powered by redstone (false) or use 'real' RF-power (true) [Default: true] [default: true]
    B:ENERGYTRACK_USES_RF=true

    # Enable this if trains and rollingstock are using block/item textures
    B:Force_Texture_Binding=true

    # This will disable some of Traincrafts easier recipes to balance Modpacks [default: false]
    B:MAKE_MODPACKS_GREAT_AGAIN=false
    B:REAL_TRAIN_SPEED=false

    # This will disable the chat messages telling you the possible colors when spawning new trains and when coloring them with dye
    B:SHOW_POSSIBLE_TRAINS_COLORS_IN_CHAT=true
    I:TRAINCRAFT_VILLAGER_ID=86

    # This sets the radius for the can-see-the-sky-check area around the windmill. 0=only location of windmill, 1=3x3, 2=5x5 etc. Use -1 to turn of this check completely. DEFAULT: 1 [range: -1 ~ 10, default: 1]
    I:WINDMILL_CHECK_RADIUS=1
}


